<!-- topmenu include -->
<th:block th:replace="~{Include/topmenu}"></th:block>
<html>
<head><title>공지사항 읽기</title>
<link rel="stylesheet" type="text/css" href="/stylesheet.css">
<style type="text/css">
  a.list {text-decoration:none;color:black;font-size:10pt;}
</style>
<script>
	function notice_search(){
		if(!notice.key.value){
			alert("검색어를 입력하세요");
			notice.key.focus();
			return;
		}
		notice.submit();
	}
</script>
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0">
<table border="0" width="800">
  <tr>
    <td width="20%" height="500" valign="top" bgcolor="#ecf1ef">
	<th:block th:replace="~{Include/login_form}"></th:block>
	</td>

	<td width="80%" valign="top">	
		<br>
    <table border="0" cellspacing="1" width="100%" align="center">
      <tr>
        <td colspan="5" align="center" valign="center" height="20">
        <font size="4" face="돋움" color="blue">
        <img src="/Images/img/bullet-01.gif"> <b>공 지 사 항</b></font></td></tr>
      <tr>
        <td colspan="5" align="right" valign="middle" height="20">
		<font size="2" face="고딕">전체 : <b th:text="${totcount}"></b>건</font></td></tr>
 	   <tr bgcolor="e3e9ff">
 	      <td width="10%" align="center" height="20"><font face="돋움" size="2">번 호</font></td>
 	      <td width="50%" align="center" height="20"><font face="돋움" size="2">제 목</font></td>
 	      <td width="15%" align="center" height="20"><font face="돋움" size="2">글쓴이</font></td>
 	      <td width="15%" align="center" height="20"><font face="돋움" size="2">작성일</font></td>
 	      <td width="10%" align="center" height="20"><font face="돋움" size="2">조회수</font></td>
 	   </tr>

	   <tr th:each="notice : ${nList}" onMouseOver="style.backgroundColor='#D1EEEE'" onMouseOut="style.backgroundColor=''">
			<td align="center" height="25">
			<font face="돋움" size="2" color="#000000" th:text="${notice.idx}"></font></td>
			<td align="left" height="20">&nbsp;
				<font face="돋움" size="2" color="#000000">
				<a class="list" th:href="@{/Notice/notice_view(idx=${notice.idx},page=${nList.number+1})}" th:text="${notice.subject}"></a>
				</font>
			</td>
			<!-- ⭐ notice.name -> notice.adid 로 수정 -->
			<td align="center" height="20">
				<font face="돋움" size="2" th:text="${notice.adid}"></font>
			</td>
			<td align="center" height="20">
				<font face="돋움" size="2" th:text="${notice.regdate != null ? #temporals.format(notice.regdate, 'yyyy-MM-dd') : ''}"></font>
			</td>
			<td align="center" height="20">
				<font face="돋움" size="2" th:text="${notice.readcnt}"></font>
			</td>
		</tr>
	</table>

	<!-- 페이징 영역 테이블 내부로 정리 -->
	<div align="center">
        <table width="700" border="0" cellspacing="0" cellpadding="5">
          <tr>
             <td colspan="5">        
                <div align="center">
                	<a th:if="${nList.hasPrevious()}" th:href="@{/Notice/notice_list(page=${nList.number-1}, search=${search}, key=${key})}">이전</a>
<span>
    [[${nList.number+1}]] / [[${nList.totalPages == 0 ? 1 : nList.totalPages}]]
</span>
<a th:if="${nList.hasNext()}" th:href="@{/Notice/notice_list(page=${nList.number+1}, search=${search}, key=${key})}">다음</a>
                </div>
			  </td>
			 </tr>
		</table>
	</div>

	<table width="600">
		<tr>
			<td width="25%"> &nbsp;</td>
			<td width="50%" align="center">
				<table>
					<form name="notice" method="get" action="/Notice/notice_list">	
						<tr>
							<td>
								<select name="search">
                                <option value="subject" th:selected="${search == 'subject'}">글제목</option>
                                <option value="adid" th:selected="${search == 'adid'}">작성자</option>
                                <option value="contents" th:selected="${search == 'contents'}">글내용</option>
                            </select>
                        </td>
                        <td> <input type="text" size=20 name="key" th:value="${key}" ></td>
                        <td> <a href="javascript:notice_search()"><img src="/Images/img/search2.gif" border="0"></a>
                        </td>
						</tr>
					</form>
				</table>
			</td>
			<td width="25%" align="right">
			<a th:href="@{notice_write}"><img src="/Images/img/write.gif" border="0"></a>
			</td>
		</tr>
	</table>
  </td>
 </tr>
</table>
</body>
</html>